.checkbox-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    border: solid 1px #888888;
}

.checkbox-dropdown-menu {
    position: absolute;
    flex-direction: column;
    width: calc(100% - 2px);
    align-items: flex-start;
    border: solid 1px #888888;
    border-top: unset;
    background-color: white;
    padding-top: 5px 0;
    z-index: 1000;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 0 25px;
}

.checkbox-container input {
    font-size: 50px;
    margin: 0 15px;
    border-radius: 2px;
}

.food-restriction {
    display: flex;
    align-items: center;
    margin: unset;
    min-height: 44px;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 300;
}